body {
    text-align: center;
    text-decoration: dotted;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    color: #2a066d
}

footer{
    text-align: center;
    background-color: #0dc57e
}
